<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44364" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.302\DotnetTools\dotnet-watch\7.0.302-servicing.23259.6\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44362/HillYatraAPI/,ws://localhost:56080/HillYatraAPI/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0+T1PonbTwZrG37iGO8DNWeVXC5nrZfmymCCvueYr8islMaFiREuuRyfM0U2hv+ag2tfkScShuqJ/GNVhxZij1YvPeZMgKx8qhLN81kuttnfSFUbt+Kt+OWwMsm9RmG6Lhb9x5s2eeGmBFkTT3ZbJmcdpOUkFsxhZ62IhzwCwA1apofIrqlw2KbZimphPoE46r7VJSFGo8b5fOJU279GoaJCHKNo7JFV7U2g+9U/eYaY3qy/RnZTwFjr05a1BvVbCZGrjkY1aB/05lieNJXP6Z1vVjReHwCiAsAPgjK98bpBao8PiN2IT06sTmfYcArV4fzua/gx9rFhU7Nj851XkQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
</configuration>